body{
background:red;
}
ul{
  list-style:none;
  width: 100%;
 /* font-size: 24px;*//*размер шрифта*/
}
a
{
  background:green;
  color:red;
  display:block;
  text-align:center;
  text-decoration:none;
}
li:hover a{
background: black;   
}
li{
 float:left;
  width:auto;
  border-right:2px solid red
}
